.idea/
utils.egg-info/

__pycache__/
/randomised_filtering.egg-info/dependency_links.txt
/src/randomised_filtering.egg-info/dependency_links.txt
/randomised_filtering.egg-info/PKG-INFO
/src/randomised_filtering.egg-info/PKG-INFO
/randomised_filtering.egg-info/requires.txt
/src/randomised_filtering.egg-info/requires.txt
/randomised_filtering.egg-info/SOURCES.txt
/src/randomised_filtering.egg-info/SOURCES.txt
/randomised_filtering.egg-info/top_level.txt
/src/randomised_filtering.egg-info/top_level.txt
